@font-face {
	font-family: "cyberspace";
	src: url("../font/cyberspace.otf") format("opentype");
}

@font-face {
	font-family: "digital-7";
	src: url("../font/digital-7.ttf");
}

* {
	margin:0;
	padding:0
}

.clear{
	clear:both;
}

body
{	
	color:#fff;
	font-family:'digital-7';
	overflow: hidden;
}

.bg-image1 {
	background:url(../img/bg1.jpg) repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	position: absolute;
	z-index: -100;

	opacity: .9;
	filter: alpha(opacity=50);
}

.bg-image2 {
	background:url(../img/bg2.jpg) repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	position: absolute;
	z-index: -100;

	opacity: .9;
	filter: alpha(opacity=50);
	
	display: none;
}

.bg-image3 {
	background:url(../img/bg3.jpg) repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	position: absolute;
	z-index: -100;

	opacity: .9;
	filter: alpha(opacity=50);
	
	display: none;
}
	
.container
{
	margin-top: 10rem;
    padding-top: 20px;
	text-align: center;
}

.mode {
	color: orange;
	font-family:cyberspace;
	font-size:20px;
	text-align:center;
	margin-bottom: 20px;
}

.timer{
	margin:0 auto;
	width:30rem;
	height: 9rem;
	/* background-color: rgba(0, 0, 0, 0.3); */
}

.counter
{
	font-size:150px;
	float:left;
	margin-left:80px;
	height: 7.5rem;
	margin-top: 10px;
}

.ms
{
	font-size:50px;
	margin-top:83px;
	margin-left:10px;
	float:left;
}

.box-team {
	font-family: cyberspace;
	font-size: 40px;
	text-align: center;
	display: inline-block;
	margin: 60px;
}

.red, .blue {
	font-weight: 100;
}

.blue h5 {
	font-weight: 100;
	color: blue;
	margin-bottom: 20px;
}

.red h5 {
	font-weight: 100;
	color: red;
	margin-bottom: 20px;
}

.zone
{
	font-size: 35px;
	font-family: cyberspace;
	color: orange;
}

.winner {
	margin-bottom: 30px;
	font-size: 35px;
	font-family: cyberspace;
	color: orange;
}

.lose {
	margin-bottom: 30px;
	font-size: 35px;
	font-family: cyberspace;
	color: whitesmoke;
}

.team-name {
	font-size: 20px;
	margin-bottom: 5px;
	color: orange;
}

.btn-add {
	font-size: 20px;
	position: absolute;
	top: 20px;
	right: 40px;
}

.btn-add .btn {
	background-color: rgba(0, 0, 0, 0.3);
	border: 1px solid orange;
	color: white;
	padding: 16px 30px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
	font-family:'digital-7';
	cursor: pointer;
}

.btn-add .btn:hover {
	color: orange;
	background-color: whitesmoke;
	font-weight: bold;
}

/* PAGE SHOW/HIDE */

/* LIST PAGE */
#ListTeamPage {
	display: none;
}

.list-team-page {
	height: 100%;
}

.list-team-page h2 {
	font-size: 45px;
	color: orange;
	text-decoration: underline;
}

.list-team-page .form-input {
	margin-top: 50px;
}

.list-team-page .form-input input {
	padding: 8px 10px;
	font-size: 18px;
	text-align: center;
}

.list-team-page .form-input .btn-add-team {
	background-color: rgba(0, 0, 0, 0.3);
	border: 1px solid orange;
	color: white;
	padding: 10px 16px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	font-family:'digital-7';
	cursor: pointer;
	margin-top: 20px;
}

.list-team-page .team-content {
	margin: 40px 0;
}

.team-content ul {
	display: inline-block;
	margin: 0 50px;
}

.team-content ul li {
	list-style-type: none;
	margin-top: 30px;
	font-size: 40px;
	height: 40px;
}

.team-content ul li:hover {
	color: orange;
}

/* SETTING PAGE */
#settings {
	display: none;
}

.settings h2 {
	margin-bottom: 40px;
	font-size: 45px;
	text-decoration: underline;
	color: orange;
}

.settings label {
	font-size: 23px;
	font-weight: bolder;
	display: block;
	margin-bottom: 20px;
	margin-top: 20px;
}

.settings .form-input {
	width: 300px;
	height: 25px;
	text-align: center;
}

.settings .btn-save {
	background-color: rgba(0, 0, 0, 0.3);
	border: 1px solid orange;
	color: white;
	padding: 16px 30px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
	font-family:'digital-7';
	cursor: pointer;
	margin-top: 20px;
}

.settings .btn-save:hover {
	color: orange;
	background-color: whitesmoke;
	font-weight: bold;
}